[Desktop Entry]
Name=byteicon
Comment=Bytespeicher Status App
Exec=byteicon %U
Terminal=false
Type=Application
Categories=Qt;Network;
Keywords=Byte;Bytespeicher;Status;
Icon=byteicon
