<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>s0trayicon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>s0trayicon</string>
	<key>CFBundleIdentifier</key>
	<string>org.stratum0.s0trayicon</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
